<div class="row log">
    <div class="col-md-6">
        <a class="nav-link" href="/users/signin">SignIn</a>
    </div>
    <div class="col-md-6">
        <a class="nav-link" href="/users/signup">signUp</a>
    </div>
</div>